In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
total_df = pd.read_pickle('Totaldata.pkl')

In [3]:
total_df.head()

,Genre,IMDB,Metascore,Movie,Run_time,Total_reviews
0,"[Action,, Adventure,, Sci-Fi]",8.8,74,Inception,148 min,"1,726,204"
1,"[Action,, Adventure,, Fantasy]",8.8,82,Star Wars: Episode V - The Empire Strikes Back,124 min,"992,696"
2,"[Action,, Adventure,, Fantasy]",8.7,68,Avengers: Infinity War,149 min,"398,700"
3,"[Action,, Sci-Fi]",8.7,73,The Matrix,136 min,"1,416,650"
4,"[Adventure,, Drama,, Sci-Fi]",8.6,74,Interstellar,169 min,"1,190,257"

In [4]:
total_df["Run_time"] = total_df["Run_time"].str.replace('min', '')
total_df["Total_reviews"] = total_df["Total_reviews"].str.replace(',', '')

In [5]:
total_df[['genre1', 'genre2', 'genre3']] = pd.DataFrame(total_df["Genre"].values.tolist(), index=total_df.index)
total_df["genre1"] = total_df["genre1"].str.replace(',','')
total_df["genre2"] = total_df["genre2"].str.replace(',','')

In [ ]:
genre1 = pd.get_dummies(total_df["genre1"])
genre2 = pd.get_dummies(total_df["genre2"])
genre3 = pd.get_dummies(total_df["genre3"])

In [ ]:
genre1["History"]= np.zeros((1998,1))
genre1["Music"]= np.zeros((1998,1))
genre1["Thriller"]= np.zeros((1998,1))
genre1["Sport"]= np.zeros((1998,1))
genre1["War"]= np.zeros((1998,1))
genre2["Animation"]=np.zeros((1998,1))
genre2["Documentary"]=np.zeros((1998,1))
genre2["Sport"]= np.zeros((1998,1))
genre2["War"]= np.zeros((1998,1))
genre3["Action"] = np.zeros((1998,1))
genre3["Animation"]=np.zeros((1998,1))
genre3["Documentary"]=np.zeros((1998,1))

In [ ]:
df_genre = genre1+genre2+genre3

Dropping cells with very low number of 1's

In [ ]:
df_genre.drop(["Sport", "Biography", "War", "History", "Musical"], axis=1, inplace = True)

In [ ]:
new_df = total_df.join(df_genre)

Removing Duplicates and changing strings to float

In [ ]:
new_df = new_df.drop_duplicates(subset='Movie', keep='first')
new_df["IMDB"] = new_df["IMDB"].astype('float')
new_df["Metascore"] = new_df["Metascore"].astype('float')
new_df["Run_time"] = new_df["Run_time"].astype('float')
new_df["Total_reviews"] = new_df["Total_reviews"].astype('float')

Adding extra data for Budget

In [ ]:
imdb_data = pd.read_csv("movie_metadata.csv")

In [ ]:
imdb_data = imdb_data[["movie_title","budget"]]
imdb_data = imdb_data.rename(columns={'movie_title':'Movie'})
imdb_data["Movie"] = imdb_data["Movie"].str.replace('\xa0', '')

In [ ]:
df_budget = new_df.merge(imdb_data, how='left', on='Movie')

In [ ]:
df_budget.drop(["Metascore"], axis=1, inplace=True)
df_budget["budget"].fillna(0,inplace=True) ### Adding zeros to NaN's

In [ ]:
df_budget.to_pickle('Cleandata.pkl')